:root {
    --main-txt-color: #ffffff;
    --main-backround-clr: #0f1225;
    --main-accent-clr: #322356;

    --secondary-clr: #eba134;
    --ff-body: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --ff-header: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    
}


body {
    background-color: var(--main-backround-clr);
    color: var(--main-txt-color);
    font-family: var(--ff-body);
    margin: 0rem;
}

/* Header section, top of page styling */

header {
    font-family: var(--ff-header);
    padding: 12px;
    background-color: var(--main-accent-clr);
    color: var(--main-txt-color);
}

#me {
    display: flex;
    flex-direction: row;
}

/* Hardcoding this cute little offset is a bad idea, but I don't want to fix it right now. */
header h1 {
    font-size: 50px;
    padding-top: 2rem;
    padding-left: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    visibility: collapse;
}

.section-nav li{
    display: inline-block;
    list-style: none;
    font-size: 24px;
    margin-left: 16px;
}

.section-nav a{
    padding: 8px;
    text-decoration: none;
    color: var(--main-txt-color);
}

.section-nav li:hover{
    /* Probably not what I want the final version to be, but a hover makes it clear it is clickable*/
    
}

.section-nav li a:hover{
    /* Probably not what I want the final version to be, but a hover makes it clear it is clickable*/
    color: black;
}

/* Main content section formatting */

.main-content {
    /* margin: 20px; */
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.about-me h1 {
    font-size: 40px;
    margin-right: 10px;
}

.about-me p {
    font-size: 20px;
}

/* Project formatting */

.project-section {
    display: flex;
    justify-content: center;
}

.project-header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-right: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    justify-content: center;
}

.container:first-child {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.container {
    position: relative;
    width: 50%;
    aspect-ratio: 4 / 3;
    text-align: center;
    overflow: hidden;
}

.container div {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: var(--secondary-clr);
    padding: .2rem;
    
}

.container img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
}

.container img:hover {
    transform: scale(1.05);
}

.container a {
    text-decoration: none;
    font-size: x-large;
    color: black;
}

.container a:hover {
    color: var(--main-txt-color);
}

/* Contact Info Styling */

.contact-info {
    margin-top: 20px;
    background-color: var(--main-accent-clr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--main-txt-color);
}

.contact-info a {
    text-decoration: none;
    color: var(--main-txt-color);
}
.contact-info a:hover {
    color: var(--secondary-clr);
}

.contact-info h1 {
    font-size: 50px;
    margin-left: 1rem;
}

.contact-info li {
    display: flex;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    padding: .5rem;
}

/* Media queries for smaller displays */

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    header {
        display: flex;
        flex-direction: column;
    }
    .section-nav li {
        /* center looked weird with the left only margin adjustment */
        font-size: 24px;
        margin-left: 8px;
        margin-right: 8px;
    }
  }