:root {
    --main-txt-color: #ffffff;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
    margin: 0rem;
}

/* Header section, top of page styling */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eba134;
    color: var(--main-txt-color);
}

header h1 {
    font-size: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.section-nav li{
    display: inline-block;
    font-size: 24px;
    margin-left: 16px;
}

.section-nav a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--main-txt-color);
}

.section-nav li:hover{
    /* Probably not what I want the final version to be, but a hover makes it clear it is clickable*/
    
}

.section-nav li a:hover{
    /* Probably not what I want the final version to be, but a hover makes it clear it is clickable*/
    color: black;
}

/* Main content section formatting */

.main-content {
    display: grid;
    flex-direction: column;
    margin: 20px;
    
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.about-me h1 {
    font-size: 40px;
    margin-right: 10px;
}

.about-me p {
    font-size: 20px;
}

/* Project formatting */

.project-section {
    display: flex;
    justify-content: center;
}

.project-header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-right: 10px;
}

.projects {
    display: grid;
    max-width: 65%;
    max-width: 800px;
    justify-content: center;
}

.container a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    aspect-ratio: 16 / 9;
    text-align: center;
}

.container a {
    text-decoration: none;
    font-size: x-large;
    background-color: #eba134;
    color: black;
}

/* Contact Info Styling */

.contact-info {
    display: flex;
    margin-top: 20px;
    background-color: #eba134;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.contact-info h1 {
    font-size: 50px;
    margin-left: 8px;
}

.contact-info li {
    display: flex;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
}

/* Media queries for smaller displays */

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    header {
        display: flex;
        flex-direction: column;
    }
    .section-nav li {
        /* center looked weird with the left only margin adjustment */
        font-size: 24px;
        margin-left: 8px;
        margin-right: 8px;
    }
  }